---
<<<<<<< HEAD
title: LA Clippers News
---

<section class="content">
	<div class='target'>
	</div>
	<div class='target'>
	</div>
	<div class='target'>
	</div>
</section>
=======
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
>>>>>>> master
